<mat-toolbar >
    <div class="nela">
        <span>NeLa</span> <span class="example-spacer"></span>
    </div>
    <div class="link">
        <a routerLink="/offer"><button id="but">Offer List</button></a>
        <a routerLink="/statistic"><button id="but">Statistics</button></a>
        <a routerLink="/depositvalidation"><button id="but">deposit validation</button></a>
    </div>
    <div class="signout">
        <button id="signoutbut" (click)="logout()"> <mat-icon>power_settings_new</mat-icon> Signout </button>
    </div>
  </mat-toolbar>